a{
	color:#181818; text-decoration:none;
}
a:hover{
	color:#181818; text-decoration:none;
}
body{
	background:url(../images/linedpaper.png) repeat;
}
.content{
	background:url(../images/skelatal_weave.png) repeat;
}

.page_title{
	float:left; width:100%; background:url(../images/linedpaper.png) repeat;margin-top:1%;
}
.page_title h1{
	font-size:18px; font-weight:normal; text-indent:30px; line-height:50px; text-shadow:2px 1px 3px #5F5E5E; color:#222222;
}